@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
  background: linear-gradient(
    179.14deg,
    rgba(32, 18, 63, 0) -7.14%,
    #000000 87.01%
  );
}

input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

progress::-webkit-progress-bar {
  border-radius: 10rem;
}
progress::-webkit-progress-value {
  border-radius: 10rem;
}
progress::-webkit-progress-bar {
  background: #3a3a43;
}
progress::-webkit-progress-value {
  background: linear-gradient(90deg, #1d64c0, 50%, #1dc071);
}
